local utils = require('utils')

{{- $windows_home := "D:\\Work" }}
{{- if hasKey . "wezterm_windows_home" }}
{{- $windows_home = .wezterm_windows_home }}
{{- end }}

return function(wezterm, config)
    local is_windows = utils.is_windows()
    local mux = wezterm.mux

    -- default workspace
    local function default_workspace(args)
        local windows_home = [[{{ $windows_home }}]]
        local home_dir = is_windows and #windows_home > 0 and windows_home or os.getenv('HOME')

        local tab, build_pane, window = mux.spawn_window {
            workspace = 'default',
            cwd = home_dir,
            args = args and #args > 0 and args or nil,
        }
    end

    wezterm.on('gui-startup', function(cmd)
        local args = {}
        if cmd and cmd.args then
            args = cmd.args
        end

        default_workspace(args)

        mux.set_active_workspace 'default'
    end)
end
